<template>
    <footer class="footer has-cards">
       copyright © 2019
    </footer>
</template>
<script>
export default {}
</script>
<style>
.footer.has-cards {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #343a40;
    color: white;
    /* margin-top: 30px; */
}
</style>
