<template>
   <div>
   <b-navbar toggleable="lg" type="dark" variant="dark">
    <router-link to="/" class="navbar-brand">Home</router-link>
    <b-navbar-toggle target="nav_collapse" />
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <router-link to="/list" class="nav-link">List Data</router-link>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <router-link to="/login" class="nav-link" v-if="!isLoggedIn">Login</router-link>
        <b-nav-item-dropdown right v-if="isLoggedIn">
          <template slot="button-content"><b>User</b></template>
          <b-dropdown-item href="#" @click="logout">Signout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>
<script>
export default {
  data () {
      return {
        // user: {}
      }
    },
    computed: {
      isLoggedIn: function () { return this.$store.getters.isLoggedIn }
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
      }
    },
      created: function () {
          if (this.$store.getters.isLoggedIn) {
          //     this.$store.dispatch('getProfil').then(resp => {
          //       this.user = resp.data.data
          //       this.loading = false
          //  }).catch(err => console.log(err))
      }
    }
}
</script>
