<template>
<div v-if="loading" class="imgLoad">
  <img src="../assets/img/loading.gif" />
</div>
<div v-else class="one_data detil">
    <div class="on_out">
        <div class="on_da">
            <div class="center" :style="{ 'background-image': 'url(' + detile.image + ')' }"></div>
       <div class="capt">
           <div class="Label">{{detile.title}}
            </div>
           <div class="desc"> {{detile.desc}} </div>
          <div class="autor"><span class="iconUser">
             <img  src="../assets/img/org.jpg" />
           <!-- <i class="material-icons"> account_circle</i> -->
            </span>
           <span><div><b> {{detile.author}}</b> </div><i> {{ new Date(detile.date).getDate() }} {{ months[parseInt(new Date(detile.date).getMonth()+1)] }} {{ new Date(detile.date).getFullYear() }}</i></span></div>
            <span class="share">
               <img src="../assets/img/share.jpg" />
              <!-- <i class="material-icons"> share</i> -->
            </span>
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
  <div class="text-center">
    <router-link to="/list">Back</router-link>
</div>
</div>
</template>
<script>
import { MixinsBlog } from '../mixins/MixinsBlog'
export default {
  name: 'Detail',
  data () {
    return {
      loading: true,
      detile: [],
      months: ['jan', 'feb', 'mar', 'apr', 'mei', 'jun', 'jul', 'agu', 'sep', 'okt', 'nov', 'des']
    }
  },
  mixins: [MixinsBlog],
  created () {
    let numb = this.$route.params.id
    this.getDetailDumi(numb)
      .then(resp => {
        this.detile = resp.data.data[0]
        this.loading = false
        })
      .catch(err => console.log(err))
      }
  }
</script>
