<template>
  <b-jumbotron>
    <template slot="header" v-if="!isLoggedIn">{{ msg }}</template>
    <template slot="header" v-if="isLoggedIn">Welcome guest</template>
    <template slot="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.
    </template>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out within the larger
      container.
    </p>
    <!-- <b-button variant="primary" href="#">Do Something</b-button> -->
    <!-- <b-button variant="success" href="#">Do Something Else</b-button> -->
  </b-jumbotron>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Learning Vue'
    }
  },
  computed: {
      isLoggedIn: function () { return this.$store.getters.isLoggedIn }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.jumbotron{
  margin-bottom: 0px;
}
</style>
