<template>
<div v-if="loading" class="imgLoad">
  <img src="../assets/img/loading.gif" />
</div>
<div v-else>
  <div class="hello">
  <div class="h3 text-center">{{ msg }}</div>
<div>
  <div v-for="info of allHalaqoh" :key="info.id" class="one_data">
      <div class="on_out">
      <div class="on_da">
        <div class="center" v-bind:style="{ 'background-image': 'url(' + info.image + ')' }">
        </div>
          <div class="capt">
              <div class="Label">
              <router-link :to="{ path:'/page:'+info.id , params:{id:info.id} }">{{ info.title }}</router-link>
              </div>
              <div class="autor"><span class="iconUser">
                <img  src="../assets/img/org.jpg" />
                  <!-- <i class="material-icons"> account_circle</i> -->
                  </span> <span><div><b> {{info.author}}</b> </div><i> {{ new Date(info.date).getDate() }} {{ months[parseInt(new Date(info.date).getMonth()+1)] }} {{ new Date(info.date).getFullYear() }}</i></span></div>
              <span class="share">
              <!-- <i class="material-icons"> share</i> -->
                <img src="../assets/img/share.jpg" />
              </span>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="clearfix"></div>
      </div>
  </div>
    </div>
  </div>
  </div>
</template>

<script>
import { MixinsBlog } from '../mixins/MixinsBlog'
export default {
  name: 'list',
  data () {
    return {
      msg: 'list post',
      allHalaqoh: [],
      loading: true,      
      months: ['jan', 'feb', 'mar', 'apr', 'mei', 'jun', 'jul', 'agu', 'sep', 'okt', 'nov', 'des']
      }
  },
  mixins: [MixinsBlog],
  created () {
    this.getDataDumi().then(resp => {
        this.allHalaqoh = resp.data.data
        this.loading = false
      })
      .catch(err => console.log(err))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.hello .h3{
  padding-top: 20px;
}
</style>
