<template>
<div v-if="loading" class="imgLoad">
  <img src="../assets/img/loading.gif" />
</div>
<div v-else class="container text-center">
  <div class="login">
    <div class="f3">fake login</div>
    <div class="text-center my-3">
      <b-button @click="login">LOGIN</b-button>
    </div>
  </div>
</div>
</template>
<style lang="scss">
.login {
    padding: 20px;
}
</style>

<script>
export default {
  name: 'Login',
  data () {
    return {
      loading: true
    }
  },
  computed: {
    isLoggedIn: function () { return this.$store.getters.isLoggedIn }
  },
  methods: {
    login: function () {
      this.$store.dispatch('login')
      this.$router.push('/')
    }
  },
  created () {
     if (this.$store.getters.isLoggedIn) {
        this.$router.push('/')
    }
    this.loading = false
  }
}
</script>
